@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Prompt:wght@600&display=swap');
/* -------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------- */
body{
    display: flex;
    margin: 0%;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    font-family: 'Mukta', sans-serif;
    
}
/* --------------------------------------Parte izquierda-------------------------------------- */
.cont-izquierdo{
    position: relative;
    top: 0%;
    left: .2%;
    height: 100vh;
    width: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    border-radius: .8rem;
}
.inicio_buscador{
    position: absolute;
    top: 1%;
    height: 25%;
    width: 100%;
    background-color: #0F0F0F;
    border-radius: .8rem;
}
.inicio{
    position: absolute;
    left: 2%;
    top: 10%;
    width: 100%;
    height: 30%;
    display: flex;
    gap: 25px;
}
.inicio a{
    font-family: 'Mukta', sans-serif;
    margin-top: 2%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    font-size: 23px;
}
.inicio a:hover{
    color: white;
}
.inputBox_container {
    
    position: relative;
    top: 63%;
    left: 15%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    width: 65%;
    height: 25%;
    background-color: #3636369c;
    border-radius: 0.8em;
    overflow: hidden;
  }
  
  .search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #d6d6d6;
  }
  
  .inputBox {

    background-color: transparent;
    color: #ffffff;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
  }
  
  ::placeholder {
    font-family: 'Mukta', sans-serif;
    color: #fdfdfdb9;
  }


/* -----------------------contenido playlist------------------ */
.playlist{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 1%;
    height: 71%;
    width: 100%;
  background-color: #0F0F0F;
    border-radius: .8rem;
}
.playlist select{
    position: relative;
    left: 20%;
}
.cabeceraPlaylist{
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cabeceraPlaylist p{
    color: #d6d6d6d3;
    font-size: 23px;
    margin-left: 3%;
}
.cabeceraPlaylist i{
    color: #d6d6d6d3;
    font-size: 28px;
    margin-right: 2%;
}
.playlist_contenedor{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    
}
.playlist_contenedor::-webkit-scrollbar{
    width: 10px;
    height: 20px;
    background: #2520295b;
    border-radius: .5rem;
    
}
.playlist_contenedor::-webkit-scrollbar-thumb{
    background: #c6c5c7;
    border-radius: 20px;
    
}
.favoritos{
    display: flex;
    gap: 30px;
    height: 20%;
    width: 100%;
   transition: 500ms;
   align-items: center;
}
.favoritos:hover{
    background-color: #ffffff21;
}
.favoritos img{
    padding-bottom: .3%;
    padding-left: 2%;
    height: 90%;
    width: 18%;
    border-radius: .5rem;
}
.favoritos span{
    cursor: default;
    color: #e0dfe0;
    font-size: 17px;
}
.favoritos i{
    position: absolute;
    top: 30%;
    right: 66%;
    font-size: 20px;
    color: purple;
}


.playlist_individual{
    display: flex;
    gap: 30px;
    height: 23%;
    width: 100%;
   transition: 500ms;
   align-items: center;
}
.playlist_individual:hover{
    background-color: #ffffff21;
}
.playlist_individual img{
    padding-bottom: .3%;
    padding-left: 2%;
    height: 90%;
    width: 18%;
    border-radius: .5rem;
}
.playlist_individual span{
    cursor: default;
    color: #e0dfe0;
    font-size: 17px;
}

/* ---------------------------------------------Parte derecha--------------------------------------------------------- */
.cont-derecho{
    position: relative;
    top: 0%;
    right: 0%;
    height: 99.3vh;
    width: 73vw;
    background-color: #0F0F0F;
    border-radius: .8rem;
}





